
.vs/YoutubeClone/v15/Server/sqlite3/storage.ide-shm
.vs/YoutubeClone/v15/Server/sqlite3/storage.ide-wal
.vs/YoutubeClone/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.ide
*.mdf
*.ldf
*.config
.vs/config/applicationhost.config
.vs/YoutubeClone/v15/.suo
.vs/YoutubeClone/v15/Server/sqlite3/storage.ide-shm
.vs/YoutubeClone/v15/Server/sqlite3/storage.ide-wal
YoutubeClone/App_Data/YoutubeCloneDb.mdf
YoutubeClone/App_Data/YoutubeCloneDb_log.ldf
YoutubeClone/obj/Debug/YoutubeClone.csproj.CoreCompileInputs.cache
.vs/YoutubeClone/v15/.suo
.vs/YoutubeClone/v15/Server/sqlite3/storage.ide-shm
