<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/66008b50-3e61-44f6-a813-8b7f29a0f94d/resourceGroups/VideoSharing-DG-HC-BBA/providers/Microsoft.Web/sites/VideoSharing-DG-HC-BBA</ResourceId>
    <ResourceGroup>VideoSharing-DG-HC-BBA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://videosharing-dg-hc-bba.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>videosharing-dg-hc-bba.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VideoSharing-DG-HC-BBA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$VideoSharing-DG-HC-BBA</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="cnx" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:youtubeclonedb.database.windows.net,1433;Initial Catalog=YoutubeCloneDb;User ID=kidbestcode@youtubeclonedb.database.windows.net;Password=ESPCAle3112" Name="Data Source=tcp:youtubeclonedb.database.windows.net,1433;Initial Catalog=YoutubeCloneDb;User Id=kidbestcode@youtubeclonedb.database.windows.net;Password=ESPCAle3112;MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="YoutubeClone.Models.Data_Models.YoutubeCloneDb, YoutubeClone" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="cnx-Web.config Connection String">
      <ParameterValue>Data Source=tcp:youtubeclonedb.database.windows.net,1433;Initial Catalog=YoutubeCloneDb;User Id=kidbestcode@youtubeclonedb.database.windows.net;Password=ESPCAle3112;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="cnx" />
  </ItemGroup>
</Project>