
@{
    ViewBag.Title = "Recherche";
}


<h2><b>Search of</b> @ViewBag.Recherche</h2>

<!-- BAR+FILTRE -->
<div class="row">
    <form method="get" action="/Recherche/Index">

        <div class="col-md-12" style="text-align:center">
            <input type="text" name="search" value="" required autofocus>
            <input type="submit" value="Recherche Filtrer" />
        </div>
        <div class="col-md-3">
            <p>Type</p>
            <input type="checkbox" name="isChaine" checked> Chaine <br />
            <input type="checkbox" name="isVideo" checked> Video <br />
        </div>
        <div class="col-md-3">
            <p>Upload Time</p>
            <input type="radio" name="uploadFrame" value="All" checked> All time<br />
            <input type="radio" name="uploadFrame" value="Day"> Today<br />
            <input type="radio" name="uploadFrame" value="Week"> This Week<br />
            <input type="radio" name="uploadFrame" value="Month"> This Month<br />
            <input type="radio" name="uploadFrame" value="Year"> This Year<br />
        </div>
        <div class="col-md-3">
            <p>Sort By</p>
            <input type="radio" name="sortBy" value="Relevance"> Relevance<br />
            <input type="radio" name="sortBy" value="Popular" checked> Popular<br />
            <input type="radio" name="sortBy" value="UploadDate"> Upload time<br />
        </div>
        <div class="col-md-3">
            <p>Category</p>
            <select name="categorie">
                <option value="All">All</option>
                <option value="Fashion">Fashion</option>
                <option value="React">React</option>
                <option value="Jeux">Jeux</option>
                <option value="Sport">Sport</option>
                <option value="Review">Review</option>
                <option value="Meme">Meme</option>
            </select>
        </div>
    </form>

</div>
<!-- CONTENU DE LA RECHERCHE -->
<div class="row">
    <!--VIDEO-->
    <div class="col-md-4">
        <div class="col-md-12">
            <h3>Videos - Resultat(s)</h3>
            <hr />
        </div>
        @{if (ViewBag.StatusVideo)
            {
                foreach (var item in ViewBag.Videos)
                {
                    <div>
                        <div class="col-md-12">
                            @Html.Partial("~/Views/Shared/_VideoThumbnail.cshtml", (YoutubeClone.Models.Data_Models.Video)item)
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No results</p>
            }

        }
    </div>

    <!--CHAINE-->
    <div class="col-md-8" style="border-left: 5px red solid">
        <div class="col-md-12">
            <h3>Chaines - Resultat(s)</h3>
            <hr />
        </div>

        @{if (ViewBag.StatusChaine)
            {
                foreach (var item in ViewBag.Chaines)
                {
                    <div>
                        <div class="col-md-12">
                            @Html.Action("MostPopularVideosOfChannels", "Channel", (YoutubeClone.Models.Data_Models.Chaine)item)
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No results</p>
            }

        }
    </div>
</div>