@model IEnumerable<YoutubeClone.Models.Data_Models.Categorie>

<div class="MenuCategories">
    <div class="row">
        <h1 class="col-md-12">Categories de video</h1>
    </div>

    <div class="row">
        @foreach (var item in Model) {
            <div style="background-color:yellow">
                <div class="col-md-12">
                    <!--TODO: AVOIR LE PROPER LINK/PARAMETER-->
                    @Html.ActionLink((string)item.ToString(), "Index", "Recherche", new { categorie = item, isVideo = "off", isFromCat = true }, null)
                </div>
            </div>
        }
    </div>
    <div class="row">
        <h1 class="col-md-12">Categories de chaine</h1>
    </div>

    <div class="row">
        @foreach (var item in Model) {
            <div style="background-color:yellow">
                <div class="col-md-12">
                    <!--TODO: AVOIR LE PROPER LINK/PARAMETER-->
                    @Html.ActionLink((string)item.ToString(), "Index", "Recherche", new { categorie = item, isChaine = "off", isFromCat = true }, null)
                </div>
            </div>
        }
    </div>
</div>
