@model IEnumerable<YoutubeClone.Models.Data_Models.Chaine>

@{
    ViewBag.Title = "Vos chaînes";
}

<div class="MostPopularChannel">
    <div class="row">
        @Html.ActionLink("Create a channel", "Create")
    </div>
    <div class="row">
        <h1 class="col-md-12">Vos chaînes:</h1>
    </div>
    @if (Model.Count() > 0) {
        foreach (var item in Model) {
        <div class="row">
            <div style="background-color:red">
                <div class="col-md-12 video-populaire">
                    @Html.Action("MostPopularVideosOfChannels", "Channel", item)
                </div>
            </div>
        </div>
        <br />
        }
    } else {

        <p>You do not own any channel, @Html.ActionLink("Create a channel", "Create") now!</p>
    }</div>


