@model IEnumerable<YoutubeClone.Models.Data_Models.Chaine>

@{
    ViewBag.Title = "Vos chaînes";
}

<div class="MostPopularChannel">
    <div class="row">
        @Html.ActionLink("Create Channel", "Create")
    </div>
    <div class="row">
        <h1 class="col-md-12">Vos chaînes:</h1>
    </div>
    @foreach (var item in Model) {
        <div class="row">
            <div style="background-color:red">
                <div class="col-md-12 video-populaire">
                    @Html.Action("MostPopularVideosOfChannels", "Channel", item)
                </div>
            </div>
        </div>
        <br />
    }
</div>


