
@{
    ViewBag.Title = "Youtube Clone - Home";
}

<h2>Home</h2>


<div class="row">
    <div class="col-md-3">
        @Html.Action("MenuCategories", "Home", null)
    </div>
    <div class="col-md-9">
        @Html.Action("MostPopularVideos", "Videos", null)
        @Html.Action("MostPopularChannels", "Channel", null)
        @Html.Action("RecentlyUploaded", "Videos", null)
    </div>
</div>